.roleta {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
}

/* Estilos para os setores da roleta */
.setor {
  position: absolute;
  width: 50%;
  height: 100%;
  transform-origin: left center;
}